<section class="bg-light pt-3">
  <div class="container">
    <div class="container">
      <p>
        <%= markdown(@about_page.description.content) %>
      </p>
    </div>
    <hr class="my-3 pb-3"/>
    <section class="bg-light py-3">
      <div class="container">
        <div class="card-columns card-columns-portfolio">
          <%= markdown(@about_page.images.content) %>
        </div>
      </div>
      <hr class="my-3 pb-3"/>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <h4>
            <%= markdown(@about_page.parteneri_media_intro.content) %>
          </h4> 
        </div>
        <div class="row justify-content-center">
          <%= markdown(@about_page.parteneri_media_content.content) %>                               
        </div>
      </div>
    </section>
  </div>
</section>