<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 mt-5">
      <h1>Termeni &amp; Conditii</h1>
      <hr class="my-5"/>
      <h2 class="mb-3">1. Prezentare generala</h2>
      <p>AER DE VACANTA reprezinta o platforma de tip  web si mobile web care va ofera informatii utile online de calatorie oferte si redirectionari catre alte platforme web (terti)  unde se pot achizitiona diverse produse.</p>
      <p>1a. Sub denumirea de UTILIZATOR se incadreaza acel individ care acceseaza site-ul web aerdevacanta.com prin intermediul laptipului, computerului, telefonului mobil (smartphone), tableta etc. si se foloseste de toate informatiile prezente pe platforma AER DE VACANTA pentru a-si organiza o vacanta sau pentru a se inspira in gasirea unei destinatii turistice.</p>
      <p>1b. Sub denumirea de TERTI se incadreaza motoarele de cautare, cat si celelalte site-uri web folosite pe aceasta platforma web.</p>
      <hr class="my-5"/>
      <h2 class="mb-3">2. Conditiile utilizarii informatiilor de pe site-ul web</h2>
      <p>Prin utilizarea intregilor informatii de pe site UTILIZATORUL confirma ca:</p>
      <p>2a.  Are peste 18 ani </p>
      <p>2b. Este responsabil pentru folosirea altor linkuri care conduc spre site-uri web terti unde se pot achizitiona diverse produse.</p>
      <hr class="my-5"/>
      <h2 class="mb-3">3. Raspundere limitata</h2>
      <p>3a. Nu ne asumama raspunderea pentru conditiile de vreme nefavorabila, calamitate, greve, pandemie, probleme socio-politice sau probleme de securitate pentru toate informatiile oferite. Fiecare UTILIZATOR este responsabil sa se informeze despre conditiile meteo, evenimentele socio-politice, siguranta calatoriei.</p>
      <p>3b. Toate imaginile folosite sunt cu character informativ si nu ne asumam raspunpunderea pentru actualitatea lor. UTILIZATORUL este cel care poate sa verifice pe cont propriu actualitatea destinatiilor, spatiilor de cazare, experientelor, etc.</p>
      <p>3c. Nu ne asumam raspunderea pentru valoarea tarifelor afisate. Actualitatea valorilor diferitelor monede sau tarfie pot suferi oricand modificari. UTILIZATORUL este cel care poate sa verifice pe cont propriu actualitatea tarifelor din postarile noastre, ale cursurilor de schimb etc.</p>
      <hr class="my-5"/>
      <h2 class="mb-3">4. Folosirea platformei web AER DE VACANTA</h2>
      <p>4a. Ești de acord să nu folosești aceasta platforma (site) web  cat și informațiile afișate în scopuri frauduloase sau care pot aduce daune materiale sau morale altor persoane fizice, juridice sau unor instituții publice si private.</p>
      <p>4.b Ești de acord să nu folosesti acest site web și informațiile afișate în scopuri care pot încălca legislații, legi naționale, europene sau internaționale, drepturile omului sau drepturile animalelor.</p>
      <p>4.c Ești de acord în calitate de UTILIZATOR să nu copiezi informațiile afișate pe acest site web și să le folosești în scopuri comerciale. </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa,
        minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
      <hr class="my-5"/>
      <h2 class="mb-3">5. Utilizarea și prelucrarea datelor cu caracter personal</h2>
      <p>5.1. AER DE VACANTA nu solicită, nu stochează și nu prelucrează date cu caracter personal cu excepția adresei de email a Utilizatorului, folosită cu acordul Utilizatorului pentru a posta un comentariii la articolele de pe site-ul web.</p>
      <p>5.2 AER DE VACANTA nu va folosi niciodată adresele de email ale Utilizatorilor în alte scopuri în afara celui prezentat mai sus.
      </p>
      <p>5.3. Utilizatorul poate cere oricand eliminarea din baze de date a adresei de e-mail. Aceasta va fi stearsa doar la cerere.</p>
      <hr class="my-5"/>
      <h2 class="mb-3">6. Cookies</h2>
      <p>6.1  Platforma web AER DE VACANTA  în conformitate cu legislatia europeană folosește obiecte de tip "Cookies" pentru măsurarea traficului si pentru personalizarea anunțurilor afișate și distribuite prin rețeaua publicitară Google Adsense. Folosirea site-ului web AER DE VACANTA  reprezintă acordul tău ca UTILIZATOR privind politica și legislația in a folosirii obiectelor de tip "Cookies".</p>
      <p>Pentru mai multe informații despre Cookies și politica noastră de utilizare a obiectelor de tip "Cookies" poți accesa aceasta <a href="/cookies" class="text-info">pagina</a></p>
      <hr class="my-5"/>
      <div class="card z-1 mb-n4">
        <div class="card-body text-center py-5">
          <h2 class="mb-3">Daca intampini vreo problema sau vrei sa ne saluti, scrie</h2>
          <%= link_to "scrie-ne", contact_path, class: "btn btn-dark font-weight-500" %>
        </div>
      </div>
    </div>
  </div>
</div>